In [20]:
import pandas as pd
import numpy as np

# Overview of this Notebook

This notebook is meant to be run on the data output of running the Data Gathering notebook in the census scripts folder which produced a csv file of census variable columns (such as B01002_001E, B01002_002E, etc...) for each census tract in the US. 

The list of variables we pulled is here: https://docs.google.com/document/d/1eslJJ1DKmmNkJAtZbOdxHAbHCZ34L6cb2tkgMoExPwc/edit?usp=sharing

In [21]:
data = pd.read_csv("../data/census_data_2_08.csv")
data

,NAME,B01003_001E,B01002_001E,B01002_002E,B01002_003E,B15003_001E,B15003_017E,B15003_018E,B15003_019E,B15003_020E,...,DP05_0001E,DP04_0089E,DP05_0077PE,DP05_0071PE,DP05_0078PE,DP05_0079PE,DP05_0080PE,DP05_0081PE,DP05_0082PE,DP05_0083PE
0,"Census Tract 11, Jefferson County, Alabama",4781,39.0,42.5,38.1,3285,552,201,269,534,...,4781,85500,1.6,0.4,96.8,1.2,0.0,0.0,0.0,0.0
1,"Census Tract 14, Jefferson County, Alabama",1946,44.3,40.5,49.1,1274,300,15,57,399,...,1946,67800,0.0,6.8,91.7,0.0,0.0,0.0,1.1,0.4
2,"Census Tract 20, Jefferson County, Alabama",4080,34.0,31.0,36.4,2802,720,134,267,571,...,4080,68400,27.7,7.5,63.8,0.0,0.0,0.0,0.0,0.9
3,"Census Tract 38.02, Jefferson County, Alabama",5291,35.8,31.7,37.3,3464,1294,32,221,551,...,5291,64100,1.6,0.0,97.5,0.0,0.0,0.0,0.0,0.9
4,"Census Tract 40, Jefferson County, Alabama",2533,52.1,51.6,53.8,1971,540,144,130,509,...,2533,67300,6.6,6.8,85.7,0.9,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73051,"Census Tract 19.02, Laramie County, Wyoming",4187,47.1,46.6,47.9,3075,506,181,275,539,...,4187,345200,93.3,4.3,0.0,0.0,0.0,0.0,0.0,2.5
73052,"Census Tract 9808.01, Laramie County, Wyoming",0,-666666666.0,-666666666.0,-666666666.0,0,0,0,0,0,...,0,-666666666,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0,-666666666.0
73053,"Census Tract 16.02, Natrona County, Wyoming",7513,37.6,39.2,36.1,4786,1007,170,460,714,...,7513,321700,85.0,12.4,1.3,0.0,0.9,0.0,0.0,0.5
73054,"Census Tract 16.03, Natrona County, Wyoming",3724,41.6,42.1,41.3,2503,492,60,147,467,...,3724,334100,83.3,7.2,0.0,1.2,2.6,0.0,0.0,5.7
73055,"Census Tract 9651, Park County, Wyoming",5287,48.2,48.9,45.6,3845,968,203,263,625,...,5287,299900,93.8,4.2,0.0,0.0,0.3,0.0,0.0,1.7

In [22]:
data.columns

Index(['NAME', 'B01003_001E', 'B01002_001E', 'B01002_002E', 'B01002_003E',
       'B15003_001E', 'B15003_017E', 'B15003_018E', 'B15003_019E',
       'B15003_020E', 'B15003_021E', 'B15003_022E', 'B15003_023E',
       'B15003_024E', 'B15003_025E', 'B28002_001E', 'B28002_002E',
       'B28002_003E', 'B28002_004E', 'B28002_005E', 'B28002_006E',
       'B28002_007E', 'B28002_008E', 'B28002_009E', 'B28002_010E',
       'B28002_011E', 'B28002_012E', 'B28002_013E', 'B28003_001E',
       'B28003_002E', 'B28003_003E', 'B28003_004E', 'B28003_005E',
       'B28003_006E', 'state', 'county', 'tract', 'S2301_C03_001E',
       'S1701_C02_001E', 'S1701_C01_001E', 'S1901_C01_012E', 'S1101_C01_001E',
       'S1101_C01_002E', 'S1101_C01_004E', 'S2701_C03_011E', 'S2701_C03_012E',
       'S2701_C03_013E', 'DP04_0142PE', 'DP04_0141PE', 'DP05_0001E',
       'DP04_0089E', 'DP05_0077PE', 'DP05_0071PE', 'DP05_0078PE',
       'DP05_0079PE', 'DP05_0080PE', 'DP05_0081PE', 'DP05_0082PE',
       'DP05_0083PE'],
      dtype='object')

In [23]:
## Need to replace negative census values with NAs

data = data.replace(-1, np.nan)
data = data.replace(-1.0, np.nan)
data = data.replace( -666666666, np.nan)

In [24]:
data[data.DP04_0142PE == -666666666]

Empty DataFrame
Columns: [NAME, B01003_001E, B01002_001E, B01002_002E, B01002_003E, B15003_001E, B15003_017E, B15003_018E, B15003_019E, B15003_020E, B15003_021E, B15003_022E, B15003_023E, B15003_024E, B15003_025E, B28002_001E, B28002_002E, B28002_003E, B28002_004E, B28002_005E, B28002_006E, B28002_007E, B28002_008E, B28002_009E, B28002_010E, B28002_011E, B28002_012E, B28002_013E, B28003_001E, B28003_002E, B28003_003E, B28003_004E, B28003_005E, B28003_006E, state, county, tract, S2301_C03_001E, S1701_C02_001E, S1701_C01_001E, S1901_C01_012E, S1101_C01_001E, S1101_C01_002E, S1101_C01_004E, S2701_C03_011E, S2701_C03_012E, S2701_C03_013E, DP04_0142PE, DP04_0141PE, DP05_0001E, DP04_0089E, DP05_0077PE, DP05_0071PE, DP05_0078PE, DP05_0079PE, DP05_0080PE, DP05_0081PE, DP05_0082PE, DP05_0083PE]
Index: []

[0 rows x 59 columns]

## Which columns are more null?

In [25]:
data[data["B01003_001E"].isna()]

Empty DataFrame
Columns: [NAME, B01003_001E, B01002_001E, B01002_002E, B01002_003E, B15003_001E, B15003_017E, B15003_018E, B15003_019E, B15003_020E, B15003_021E, B15003_022E, B15003_023E, B15003_024E, B15003_025E, B28002_001E, B28002_002E, B28002_003E, B28002_004E, B28002_005E, B28002_006E, B28002_007E, B28002_008E, B28002_009E, B28002_010E, B28002_011E, B28002_012E, B28002_013E, B28003_001E, B28003_002E, B28003_003E, B28003_004E, B28003_005E, B28003_006E, state, county, tract, S2301_C03_001E, S1701_C02_001E, S1701_C01_001E, S1901_C01_012E, S1101_C01_001E, S1101_C01_002E, S1101_C01_004E, S2701_C03_011E, S2701_C03_012E, S2701_C03_013E, DP04_0142PE, DP04_0141PE, DP05_0001E, DP04_0089E, DP05_0077PE, DP05_0071PE, DP05_0078PE, DP05_0079PE, DP05_0080PE, DP05_0081PE, DP05_0082PE, DP05_0083PE]
Index: []

[0 rows x 59 columns]

In [26]:
data[data["DP05_0001E"].isna()]

Empty DataFrame
Columns: [NAME, B01003_001E, B01002_001E, B01002_002E, B01002_003E, B15003_001E, B15003_017E, B15003_018E, B15003_019E, B15003_020E, B15003_021E, B15003_022E, B15003_023E, B15003_024E, B15003_025E, B28002_001E, B28002_002E, B28002_003E, B28002_004E, B28002_005E, B28002_006E, B28002_007E, B28002_008E, B28002_009E, B28002_010E, B28002_011E, B28002_012E, B28002_013E, B28003_001E, B28003_002E, B28003_003E, B28003_004E, B28003_005E, B28003_006E, state, county, tract, S2301_C03_001E, S1701_C02_001E, S1701_C01_001E, S1901_C01_012E, S1101_C01_001E, S1101_C01_002E, S1101_C01_004E, S2701_C03_011E, S2701_C03_012E, S2701_C03_013E, DP04_0142PE, DP04_0141PE, DP05_0001E, DP04_0089E, DP05_0077PE, DP05_0071PE, DP05_0078PE, DP05_0079PE, DP05_0080PE, DP05_0081PE, DP05_0082PE, DP05_0083PE]
Index: []

[0 rows x 59 columns]

## Rename Columns

In [28]:
## Renaming data columns
data = data.rename(columns = {"B01002_001E" : "median_age_overall", "B01002_002E": "median_age_male", "B01002_003E" : 
                      "median_age_female", "DP05_0001E" : "total_population", "B01003_001E" : "total_pop2",
                              "DP04_0089E" : "median_house_value",
                      "S1901_C01_012E" : "median_income", "S2301_C03_001E" : "employment_rate",
                      "S1101_C01_002E": "ave_household_size", "S1101_C01_004E" : "ave_family_size", "S1101_C01_001E" :
                             "total_households"})

## Calculating Additional Data Columns

In [29]:
np.sum(data["DP04_0142PE"]<0)

0

In [30]:
def safe_division(x, y):
    try:
        return (x / y)*100
    except:
        #y would have been 0 so return NAN
        return np.nan

In [31]:
## Calculating Additional Data Columns
data["pct_rent_burdened"] = data.apply(lambda x:  x["DP04_0142PE"] + x["DP04_0141PE"], axis=1)
data["poverty_rate"] = data.apply(lambda x: safe_division(x["S1701_C02_001E"], x["S1701_C01_001E"]), axis=1)
data["pct_pop_bachelors+"] = data.apply(lambda x: safe_division((x["B15003_022E"] + x["B15003_023E"] + x["B15003_024E"] +
                                                 x["B15003_025E"]), x["B15003_001E"]), axis=1)
data["pct_pop_hs+"] = data.apply(lambda x: x["pct_pop_bachelors+"] + safe_division(( x["B15003_018E"] + x["B15003_019E"] + 
                                            x["B15003_020E"] + x["B15003_021E"]), x["B15003_001E"]), axis=1)

## Internet Statistics
data["pct_internet"] = data.apply(lambda x: safe_division(x["B28002_002E"] , x["B28002_001E"]), axis=1)
data["pct_internet_dial_up"]= data.apply(lambda x: safe_division(x["B28002_003E"] , x["B28002_001E"]), axis=1)
data["pct_internet_broadband_any_type"]= data.apply(lambda x: safe_division(x["B28002_004E"] , x["B28002_001E"]), axis=1)
data["pct_internet_cellular"]= data.apply(lambda x: safe_division(x["B28002_005E"] , x["B28002_001E"]), axis=1)
data["pct_only_cellular"]= data.apply(lambda x: safe_division(x["B28002_006E"] , x["B28002_001E"]), axis=1)
data["pct_internet_broadband_fiber"]= data.apply(lambda x: safe_division(x["B28002_008E"] , x["B28002_001E"]), axis=1)
data["pct_internet_broadband_satellite"]= data.apply(lambda x: safe_division(x["B28002_009E"] , x["B28002_001E"]), axis=1)
data["pct_internet_only_satellite"]= data.apply(lambda x: safe_division(x["B28002_010E"] , x["B28002_001E"]), axis=1)
data["pct_internet_other"]= data.apply(lambda x: safe_division(x["B28002_011E"] , x["B28002_001E"]), axis=1)
data["pct_internet_no_subscrp"]= data.apply(lambda x: safe_division(x["B28002_012E"] , x["B28002_001E"]), axis=1)
data["pct_internet_none"]= data.apply(lambda x: safe_division(x["B28002_013E"] , x["B28002_001E"]), axis=1)


## Computer Statistics
data["pct_computer"] = data.apply(lambda x: safe_division(x["B28003_002E"] , x["B28003_001E"]), axis=1)
data["pct_computer_with_dialup"] = data.apply(lambda x: safe_division(x["B28003_003E"] , x["B28003_001E"]), axis=1)
data["pct_computer_with_broadband"] = data.apply(lambda x: safe_division(x["B28003_004E"] , x["B28003_001E"]), axis=1)
data["pct_computer_no_internet"] = data.apply(lambda x: safe_division(x["B28003_005E"] , x["B28003_001E"]), axis=1)
data["pct_no_computer"] = data.apply(lambda x: safe_division(x["B28003_006E"] , x["B28003_001E"]), axis=1)

In [32]:
## Race/Ethnicity Statistics To Rename

data = data.rename(columns = {"DP05_0077PE" : "pct_white", "DP05_0071PE" : "pct_hisp_latino", "DP05_0078PE" :
                             "pct_black", "DP05_0079PE" : "pct_native", "DP05_0080PE" : "pct_asian", "DP05_0081PE" :
                             "pct_hi_pi", "DP05_0082PE" : "pct_other_race", "DP05_0083PE" : "pct_two+_race"})

In [34]:
## Health Insurance Statistics to Rename

data = data.rename(columns = {"S2701_C03_011E" : "pct_health_ins_children", "S2701_C03_012E" :
                              "pct_health_ins_19_64", "S2701_C03_013E" : "pct_health_ins_65+"
    
})

In [35]:
cols_to_drop = []
for col in data.columns:
    if col.startswith("DP"):
        cols_to_drop.append(col)
    elif col.startswith("B"):
        cols_to_drop.append(col)
    elif col.startswith("S"):
        cols_to_drop.append(col)
        
cols_to_drop

['B15003_001E',
 'B15003_017E',
 'B15003_018E',
 'B15003_019E',
 'B15003_020E',
 'B15003_021E',
 'B15003_022E',
 'B15003_023E',
 'B15003_024E',
 'B15003_025E',
 'B28002_001E',
 'B28002_002E',
 'B28002_003E',
 'B28002_004E',
 'B28002_005E',
 'B28002_006E',
 'B28002_007E',
 'B28002_008E',
 'B28002_009E',
 'B28002_010E',
 'B28002_011E',
 'B28002_012E',
 'B28002_013E',
 'B28003_001E',
 'B28003_002E',
 'B28003_003E',
 'B28003_004E',
 'B28003_005E',
 'B28003_006E',
 'S1701_C02_001E',
 'S1701_C01_001E',
 'DP04_0142PE',
 'DP04_0141PE']

In [36]:
new_data = data.drop(columns=cols_to_drop)
new_data.columns

Index(['NAME', 'total_pop2', 'median_age_overall', 'median_age_male',
       'median_age_female', 'state', 'county', 'tract', 'employment_rate',
       'median_income', 'total_households', 'ave_household_size',
       'ave_family_size', 'pct_health_ins_children', 'pct_health_ins_19_64',
       'pct_health_ins_65+', 'total_population', 'median_house_value',
       'pct_white', 'pct_hisp_latino', 'pct_black', 'pct_native', 'pct_asian',
       'pct_hi_pi', 'pct_other_race', 'pct_two+_race', 'pct_rent_burdened',
       'poverty_rate', 'pct_pop_bachelors+', 'pct_pop_hs+', 'pct_internet',
       'pct_internet_dial_up', 'pct_internet_broadband_any_type',
       'pct_internet_cellular', 'pct_only_cellular',
       'pct_internet_broadband_fiber', 'pct_internet_broadband_satellite',
       'pct_internet_only_satellite', 'pct_internet_other',
       'pct_internet_no_subscrp', 'pct_internet_none', 'pct_computer',
       'pct_computer_with_dialup', 'pct_computer_with_broadband',
       'pct_computer_no_internet', 'pct_no_computer'],
      dtype='object')

In [37]:
new_data.to_csv("../data/relabeled_census.csv",index=False)