# FCC Data Merging

## About the Data

FCC data was taken from: https://www.fcc.gov/form-477-broadband-deployment-data-december-2019-version-1
* Download the US - US - Fixed with Satellite - Dec 19v1(CSV)
* Note this downloads as a zip. Joanie's Mac had trouble unzipping but what worked well wa

The columns in the FCC dataset are: https://www.fcc.gov/general/explanation-broadband-deployment-data 

With more info on the tech codes: https://www.fcc.gov/general/technology-codes-used-fixed-broadband-deployment-data

In [1]:
## imports 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import zipfile
#import os

In [2]:
#get census data
census_data = pd.read_csv("../data/relabeled_census.csv")
census_data.head()

,NAME,total_pop2,median_age_overall,median_age_male,median_age_female,state,county,tract,employment_rate,median_income,...,pct_internet_broadband_satellite,pct_internet_only_satellite,pct_internet_other,pct_internet_no_subscrp,pct_internet_none,pct_computer,pct_computer_with_dialup,pct_computer_with_broadband,pct_computer_no_internet,pct_no_computer
0,"Census Tract 11, Jefferson County, Alabama",4781,39.0,42.5,38.1,1,73,1100,51.0,37030.0,...,9.022150,0.918422,0.0,1.134522,24.851432,80.821178,0.0,74.014046,6.807131,19.178822
1,"Census Tract 14, Jefferson County, Alabama",1946,44.3,40.5,49.1,1,73,1400,45.4,36066.0,...,4.901961,0.000000,0.0,2.083333,25.490196,85.661765,0.0,71.078431,14.583333,14.338235
2,"Census Tract 20, Jefferson County, Alabama",4080,34.0,31.0,36.4,1,73,2000,47.7,27159.0,...,4.651163,0.000000,0.0,0.000000,45.454545,71.317829,0.0,54.545455,16.772375,28.682171
3,"Census Tract 38.02, Jefferson County, Alabama",5291,35.8,31.7,37.3,1,73,3802,51.7,38721.0,...,3.959873,0.000000,0.0,6.335797,33.632524,85.744456,0.0,59.450898,26.293559,14.255544
4,"Census Tract 40, Jefferson County, Alabama",2533,52.1,51.6,53.8,1,73,4000,36.9,18525.0,...,4.548635,1.959412,0.0,5.108467,47.515745,63.051085,0.0,44.786564,18.264521,36.948915

In [3]:
fcc = pd.read_csv("../data/fcc/fbd_us_with_satellite_dec2019_v1.csv", converters={'BlockCode' : lambda x: str(x)})

In [4]:
fcc.head()

,LogRecNo,Provider_Id,FRN,ProviderName,DBAName,HoldingCompanyName,HocoNum,HocoFinal,StateAbbr,BlockCode,TechCode,Consumer,MaxAdDown,MaxAdUp,Business
0,1,53763,1630201,Union Telephone Company,Union Telephone Company,Union Holding Corp.,360114,Union Holding Corp.,WY,560379705001336,70,1,10.0,1.0,1
1,2,53763,1630201,Union Telephone Company,Union Telephone Company,Union Holding Corp.,360114,Union Holding Corp.,WY,560379705001391,70,1,10.0,1.0,1
2,3,53763,1630201,Union Telephone Company,Union Telephone Company,Union Holding Corp.,360114,Union Holding Corp.,WY,560379705001398,70,1,10.0,1.0,1
3,4,53763,1630201,Union Telephone Company,Union Telephone Company,Union Holding Corp.,360114,Union Holding Corp.,WY,560379705001399,70,1,10.0,1.0,1
4,5,53763,1630201,Union Telephone Company,Union Telephone Company,Union Holding Corp.,360114,Union Holding Corp.,WY,560379705001400,70,1,10.0,1.0,1

In [5]:
fcc.tail()

,LogRecNo,Provider_Id,FRN,ProviderName,DBAName,HoldingCompanyName,HocoNum,HocoFinal,StateAbbr,BlockCode,TechCode,Consumer,MaxAdDown,MaxAdUp,Business
73215372,73215373,55262,18756155,"VSAT Systems, LLC",Skycasters,"VSAT Systems, LLC",300167,"VSAT Systems, LLC",PR,721537506022018,60,1,2.0,1.3,1
73215373,73215374,55262,18756155,"VSAT Systems, LLC",Skycasters,"VSAT Systems, LLC",300167,"VSAT Systems, LLC",PR,721537506022019,60,1,2.0,1.3,1
73215374,73215375,55262,18756155,"VSAT Systems, LLC",Skycasters,"VSAT Systems, LLC",300167,"VSAT Systems, LLC",PR,721537506022020,60,1,2.0,1.3,1
73215375,73215376,55262,18756155,"VSAT Systems, LLC",Skycasters,"VSAT Systems, LLC",300167,"VSAT Systems, LLC",PR,721537506022021,60,1,2.0,1.3,1
73215376,73215377,55262,18756155,"VSAT Systems, LLC",Skycasters,"VSAT Systems, LLC",300167,"VSAT Systems, LLC",PR,721537506022022,60,1,2.0,1.3,1

In [6]:
fcc.shape

(73215377, 15)

In [51]:
[len(i )]

array([73215377])

In [7]:
# We can see there are codes for Guam, Virgin Islands, Puerto Rico, etc which have very different policies and may 
# not display similar correlations with broadband. We will drop non-US
#np.unique(fcc.StateAbbr)

In [8]:
# https://www.census.gov/library/reference/code-lists/ansi/ansi-codes-for-states.html
state_codes_to_drop = ["AS", "GU", "MP", "PR", "VI"]

In [43]:
df = fcc[~fcc['StateAbbr'].isin(state_codes_to_drop)]
df

,LogRecNo,Provider_Id,FRN,ProviderName,DBAName,HoldingCompanyName,HocoNum,HocoFinal,StateAbbr,BlockCode,TechCode,Consumer,MaxAdDown,MaxAdUp,Business
0,1,53763,1630201,Union Telephone Company,Union Telephone Company,Union Holding Corp.,360114,Union Holding Corp.,WY,560379705001336,70,1,10.0,1.0,1
1,2,53763,1630201,Union Telephone Company,Union Telephone Company,Union Holding Corp.,360114,Union Holding Corp.,WY,560379705001391,70,1,10.0,1.0,1
2,3,53763,1630201,Union Telephone Company,Union Telephone Company,Union Holding Corp.,360114,Union Holding Corp.,WY,560379705001398,70,1,10.0,1.0,1
3,4,53763,1630201,Union Telephone Company,Union Telephone Company,Union Holding Corp.,360114,Union Holding Corp.,WY,560379705001399,70,1,10.0,1.0,1
4,5,53763,1630201,Union Telephone Company,Union Telephone Company,Union Holding Corp.,360114,Union Holding Corp.,WY,560379705001400,70,1,10.0,1.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73067164,73067165,55262,18756155,"VSAT Systems, LLC",Skycasters,"VSAT Systems, LLC",300167,"VSAT Systems, LLC",WY,560459513003125,60,1,2.0,1.3,1
73067165,73067166,55262,18756155,"VSAT Systems, LLC",Skycasters,"VSAT Systems, LLC",300167,"VSAT Systems, LLC",WY,560459513003126,60,1,2.0,1.3,1
73067166,73067167,55262,18756155,"VSAT Systems, LLC",Skycasters,"VSAT Systems, LLC",300167,"VSAT Systems, LLC",WY,560459513003127,60,1,2.0,1.3,1
73067167,73067168,55262,18756155,"VSAT Systems, LLC",Skycasters,"VSAT Systems, LLC",300167,"VSAT Systems, LLC",WY,560459513003128,60,1,2.0,1.3,1
73067168,73067169,55262,18756155,"VSAT Systems, LLC",Skycasters,"VSAT Systems, LLC",300167,"VSAT Systems, LLC",WY,560459513003129,60,1,2.0,1.3,1

In [44]:
df["tract_geoid"] = df["BlockCode"].apply(lambda row: row[:-4])
#df["tract_code"] = df["BlockCode"].apply(lambda row: row[-10:-4])
#df["county_code"] = df["BlockCode"].apply(lambda row: row[-13:-10])
#df["state_code"] = df["BlockCode"].apply(lambda row: row[:-13])

<ipython-input-44-b231edfecbf3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["tract_geoid"] = df["BlockCode"].apply(lambda row: row[:-4])

In [52]:
## Now that we have a tract ID, we can drop the BlockCode column

newdf = df.drop("BlockCode", axis="columns")

## Now that we have dropped the BlockCode column, we can drop duplicate rows (i.e. same provider info in a tract)
newdf = newdf.drop_duplicates(subset = ["Provider_Id", "ProviderName", "DBAName", "TechCode", "Consumer", "Business",
                                       "MaxAdDown", "MaxAdUp", "tract_geoid"])

In [53]:
newdf.columns

Index(['LogRecNo', 'Provider_Id', 'FRN', 'ProviderName', 'DBAName',
       'HoldingCompanyName', 'HocoNum', 'HocoFinal', 'StateAbbr', 'TechCode',
       'Consumer', 'MaxAdDown', 'MaxAdUp', 'Business', 'tract_geoid'],
      dtype='object')

In [54]:
newdf.shape

(1755040, 15)

In [55]:
census_data.shape

(73056, 46)

In [56]:
## Add some booleans for categories we care about

newdf["Faster_than_25_3"] = newdf.apply(lambda row: (row["MaxAdDown"] > 25)&(row["MaxAdUp"] > 3), axis=1)
newdf["Faster_than_100_3"] = newdf.apply(lambda row: (row["MaxAdDown"] > 100)&(row["MaxAdUp"] > 3), axis=1)

## Wired
newdf["Is_Wired"] = newdf.apply(lambda row: (row["TechCode"]>=10)|(row["TechCode"]<=50), axis=1)
newdf["Is_Satellite"] = newdf.apply(lambda row: (row["TechCode"]==60), axis=1)
newdf["Is_Fixed_Wireless"] = newdf.apply(lambda row: (row["TechCode"]==70), axis=1)

In [57]:
newdf.ProviderName.value_counts()[:100]

CenturyLink, Inc.                                   174546
BellSouth Telecommunications, Inc.                  113103
Frontier Communications Corporation                  93471
SOUTHWESTERN BELL TELEPHONE COMPANY, L.P.            78590
ViaSat, Inc.                                         76781
                                                     ...
US Signal Company, LLC                                1322
Windstream Sugar Land, LLC                            1304
Golden West Telecommunications Cooperative, Inc.      1302
RCN Telecom Services of New York, LP                  1300
En-Touch Systems, Inc.                                1264
Name: ProviderName, Length: 100, dtype: int64

In [58]:
newdf.DBAName.value_counts()[:100]

CenturyLink                     214015
AT&T Southwest                   78590
Viasat Inc                       76781
GCI Communication Corp.          73186
HughesNet                        72764
                                 ...
One Ring Networks                 1773
Commonwealth of Pennsylvania      1726
Etheric Networks, Inc.            1706
Texas Windstream Inc.             1681
Starry, Inc.                      1670
Name: DBAName, Length: 100, dtype: int64

In [13]:
#np.unique(df.Provider_Id).shape
#result: (2977,)

(2977,)

In [14]:
#np.unique(df.BlockCode).shape
#result: (11078297,)

(11078297,)

In [15]:
#np.unique(df.tract_geoid).shape
#result: (73057,)

(73057,)

In [16]:
df.isnull().sum()
#result: mostly filled in, only some holdingcompanyname missing

LogRecNo                0
Provider_Id             0
FRN                     0
ProviderName            0
DBAName                 0
HoldingCompanyName    214
HocoNum                 0
HocoFinal               0
StateAbbr               0
BlockCode               0
TechCode                0
Consumer                0
MaxAdDown               0
MaxAdUp                 0
Business                0
tract_geoid             0
tract_code              0
county_code             0
state_code              0
dtype: int64

## Deciding how to summarize the Data

There are over 11M block codes in the data if we include the non-US state codes of "AS", "GU", "MP", "PR", "VI" : 11165833

Otherwise, there are XX block codes.

But only XXX tract codes.


The ACS data is available by tract.

We want to summarize the FCC data by tract.

In [69]:
## Let's drop more duplicates (i.e. we don't care if a single tract has a same provider that offers both 110 & 110 in a tract)

newdf = newdf.drop_duplicates(subset =["Provider_Id", "ProviderName", "DBAName", "Consumer", "Business",
                                       "Faster_than_25_3", "Faster_than_100_3", "Is_Wired",
                                       "Is_Satellite", "Is_Fixed_Wireless", "tract_geoid"])

In [70]:
## Let's look at results for a single tract
newdf.loc[newdf.tract_geoid=='56037970500']

,LogRecNo,Provider_Id,FRN,ProviderName,DBAName,HoldingCompanyName,HocoNum,HocoFinal,StateAbbr,TechCode,Consumer,MaxAdDown,MaxAdUp,Business,tract_geoid,Faster_than_25_3,Faster_than_100_3,Is_Wired,Is_Satellite,Is_Fixed_Wireless
0,1,53763,1630201,Union Telephone Company,Union Telephone Company,Union Holding Corp.,360114,Union Holding Corp.,WY,70,1,10.0,1.000,1,56037970500,False,False,True,False,True
156673,156674,53788,3723822,"Level 3 Communications, LLC",CenturyLink,"CenturyLink, Inc.",130228,"CenturyLink, Inc.",WY,50,0,0.0,0.000,1,56037970500,False,False,True,False,False
656958,656959,54076,4335584,MCI Communications Corporation,MCI,Verizon Communications Inc.,131425,Verizon Communications Inc.,WY,30,0,0.0,0.000,1,56037970500,False,False,True,False,False
2674220,2674221,54891,8293649,"All West/Wyoming, Inc.",All West/Wyoming Inc.,"All West Communications, Inc.",130037,"All West Communications, Inc.",WY,42,1,300.0,30.000,1,56037970500,True,True,True,False,False
8189899,8189900,55859,15616642,Wyoming.Com,Wyoming.com,Wyoming.Com,250090,Wyoming.Com,WY,20,1,41.0,41.000,1,56037970500,True,False,True,False,False
8205538,8205539,55859,15616642,Wyoming.Com,Wyoming.com,Wyoming.Com,250090,Wyoming.Com,WY,70,1,4.0,2.000,1,56037970500,False,False,True,False,True
19498401,19498402,56004,4963088,"ViaSat, Inc.",Viasat Inc,"ViaSat, Inc.",290111,"ViaSat, Inc.",WY,60,1,35.0,3.000,1,56037970500,False,False,True,True,False
19613204,19613205,56069,1631134,Bridger Valley Electric Association Inc,Bridger Valley Electric Association Inc,Bridger Valley Electric Association Inc.,300182,Bridger Valley Electric Association Inc.,WY,70,1,8.0,0.512,0,56037970500,False,False,True,False,True
30822824,30822825,58876,18626853,"CenturyLink, Inc.",CenturyLink,"CenturyLink, Inc.",130228,"CenturyLink, Inc.",WY,11,1,15.0,0.640,1,56037970500,False,False,True,False,False
30822830,30822831,58876,18626853,"CenturyLink, Inc.",CenturyLink,"CenturyLink, Inc.",130228,"CenturyLink, Inc.",WY,12,1,80.0,10.000,1,56037970500,True,False,True,False,False
34376993,34376994,59386,18092593,"Visionary Communications, Inc",Mammoth Networks,"Visionary Communications, Inc.",300171,"Visionary Communications, Inc.",WY,50,0,0.0,0.000,1,56037970500,False,False,True,False,False
34388856,34388857,59386,18092593,"Visionary Communications, Inc",Visionary Broadband,"Visionary Communications, Inc.",300171,"Visionary Communications, Inc.",WY,70,1,50.0,5.000,1,56037970500,True,False,True,False,True
36079121,36079122,66253,21809587,"NGL Connection, LLC",LR Communications Inc,"NGL Connection, LLC",270064,"NGL Connection, LLC",WY,70,1,100.0,100.000,1,56037970500,True,False,True,False,True
36156064,36156065,66473,25124595,"LR Communications, Inc.",LR Communications Inc,"LR Communications, Inc.",380072,"LR Communications, Inc.",WY,70,1,1000.0,1000.000,1,56037970500,True,True,True,False,True
36158853,36158854,66473,25124595,"LR Communications, Inc.",LR Communications Inc,"LR Communications, Inc.",380072,"LR Communications, Inc.",WY,70,1,100.0,100.000,1,56037970500,True,False,True,False,True
72885454,72885455,59349,1568880,GCI Communication Corp.,GCI Communication Corp.,GCI Holdings LLC,130534,GCI Holdings LLC,WY,60,0,0.0,0.000,1,56037970500,False,False,True,True,False
72969500,72969501,54694,12369286,"HNS License Sub, LLC",HughesNet,"Hughes Network Systems, LLC",130627,"Hughes Network Systems, LLC",WY,60,1,25.0,3.000,1,56037970500,False,False,True,True,False
73053546,73053547,55262,18756155,"VSAT Systems, LLC",Skycasters,"VSAT Systems, LLC",300167,"VSAT Systems, LLC",WY,60,1,2.0,1.300,1,56037970500,False,False,True,True,False

In [ ]:
## There are still repeat providers because some providers offer speeds above and below the request speed

### Ideas

Groupby Tract_geoid

* LogRecNo : can toss
* Provider_Id list of providers in tract
* StateAbbr should be same -> i.e. choose most common
* TechCode list
* Consumer_All only 1 if all blocks 1
* Consumer_Some 1 if any blocks 1
* MaxAdDown : max in tract
* MaxAdUp : max in tract
* Business_All only 1 if all blocks 1
* Business_Some 1 if any blocks 1


Could later add unique tech code columns based on apply definitions if a code is present
* Wired if tech code is Cable, Copper, DSL, Fiber



Make a dictionary of Provider_Id to List of [ProviderName, DBAName, TechCode]

In [60]:
# grouped_tract = newdf.groupby(["tract_geoid", "Provider_Id", "Faster_than_25_3", "Faster_than_100_3", "Is_Wired",
#                            "Is_Satellite", "Is_Fixed_Wireless"])

In [66]:
tracts = pd.DataFrame({"tract_geoid" : np.unique(newdf["tract_geoid"])})
tracts

       tract_geoid
0      01001020100
1      01001020200
2      01001020300
3      01001020400
4      01001020500
...            ...
73052  56043000200
73053  56043000301
73054  56043000302
73055  56045951100
73056  56045951300

[73057 rows x 1 columns]

In [ ]:
## Get the total provider count
tracts["All_Provider_Count"] = tracts.apply(lambda row: len(np.unique(newdf.loc[newdf.tract_geoid == row.tract_geoid,
                                                                  "Provider_Id"])), axis=1)

## Get the total provider count with speeds > 25
tracts["All_Provider_Count_25_3"] = tracts.apply(lambda row: len(np.unique(newdf.loc[((newdf.tract_geoid==row.tract_geoid)
                                                                                &(newdf.Faster_than_25_3)),
                                                                  "Provider_Id"])), axis=1)

## Get the total provider count with speeds > 100
tracts["All_Provider_Count_100_3"] = tracts.apply(lambda row: len(np.unique(newdf.loc[((newdf.tract_geoid==row.tract_geoid)
                                                                                &(newdf.Faster_than_100_3)),
                                                                  "Provider_Id"])), axis=1)

## Get wired (Cable, Copper, DSL, Fiber) provider count
tracts["Wired_Provider_Count"] = tracts.apply(lambda row: len(np.unique(newdf.loc[((newdf.tract_geoid==row.tract_geoid)
                                                                                &(newdf.Is_Wired)),
                                                                  "Provider_Id"])), axis=1)

## Get wired (Cable, Copper, DSL, Fiber) provider count with speeds > 25
tracts["Wired_Provider_Count_25_3"] = tracts.apply(lambda row: len(np.unique(newdf.loc[((newdf.tract_geoid==row.tract_geoid)
                                                                                &(newdf.Faster_than_25_3)&
                                                                                (newdf.Is_Wired)),
                                                                  "Provider_Id"])), axis=1)

## Get wired (Cable, Copper, DSL, Fiber) provider count with speeds > 100
tracts["Wired_Provider_Count_100_3"] = tracts.apply(lambda row: len(np.unique(newdf.loc[((newdf.tract_geoid==row.tract_geoid)
                                                                                &(newdf.Faster_than_100_3)&
                                                                                (newdf.Is_Wired)),
                                                                  "Provider_Id"])), axis=1)

## Get fixed wireless provider count
tracts["Fixed_Wireless_Provider_Count"] = tracts.apply(lambda row: len(np.unique(newdf.loc[((newdf.tract_geoid==row.tract_geoid)
                                                                                &(newdf.Is_Fixed_Wireless)),
                                                                  "Provider_Id"])), axis=1)

## Get fixed wireless provider count > 25
tracts["Fixed_Wireless_Provider_Count_25_3"] = tracts.apply(lambda row: len(np.unique(newdf.loc[((newdf.tract_geoid==row.tract_geoid)
                                                                                &(newdf.Faster_than_25_3)&
                                                                                (newdf.Is_Fixed_Wireless)),
                                                                  "Provider_Id"])), axis=1)

## Get fixed wireless provider count > 100
tracts["Fixed_Wireless_Provider_Count_100_3"] = tracts.apply(lambda row: len(np.unique(newdf.loc[((newdf.tract_geoid==row.tract_geoid)
                                                                                &(newdf.Faster_than_100_3)&
                                                                                (newdf.Is_Fixed_Wireless)),
                                                                  "Provider_Id"])), axis=1)

## Get satellite provider count
tracts["Satellite_Provider_Count"] = tracts.apply(lambda row: len(np.unique(newdf.loc[((newdf.tract_geoid==row.tract_geoid)
                                                                                &(newdf.Is_Satellite)),
                                                                  "Provider_Id"])), axis=1)


## Get satellite provider count > 25
tracts["Satellite_Provider_Count_25_3"] = tracts.apply(lambda row: len(np.unique(newdf.loc[((newdf.tract_geoid==row.tract_geoid)
                                                                                &(newdf.Faster_than_25_3)&
                                                                                (newdf.Is_Satellite)),
                                                                  "Provider_Id"])), axis=1)

## Get satellite provider count > 100
tracts["Satellite_Provider_Count_100_3"]  = tracts.apply(lambda row: len(np.unique(newdf.loc[((newdf.tract_geoid==row.tract_geoid)
                                                                                &(newdf.Faster_than_100_3)&
                                                                                (newdf.Is_Satellite)),
                                                                  "Provider_Id"])), axis=1)

# ##Get all the provider dba names
# tracts["All_Provider_Names"] = tracts.apply(lambda row: np.unique(agged_reset.loc[agged_reset.tract_geoid==row.tract_geoid,
#                                                                   "dba_name"]), axis=1)

# ## Get business boolean
# ##Get all the provider dba names
# tracts["Business"] = tracts.apply(lambda row: np.sum(agged_reset.loc[agged_reset.tract_geoid==row.tract_geoid,
#                                                                   "business_any"])>=1, axis=1)

# tracts["Consumer"] = tracts.apply(lambda row: np.sum(agged_reset.loc[agged_reset.tract_geoid==row.tract_geoid,
#                                                                   "consumer_any"])>=1, axis=1)



tracts

In [ ]:
tracts

In [ ]:
tracts.columns

In [ ]:
## TODO Merge the tracts dataset with the Census values


tracts.to_csv("tracts.csv")

In [67]:
test = pd.DataFrame({"first" : [1,2,3,4,5], "second" : ["red","blue", "yellow", "red", "yellow"], "third" : ["a","a","a","a","b"]})
print(test)
test.groupby(["second","third"]).agg(
    num = ("first", lambda x: ((x==3) | (x==4)).all())
)

   first  second third
0      1     red     a
1      2    blue     a
2      3  yellow     a
3      4     red     a
4      5  yellow     b

                num
second third
blue   a      False
red    a      False
yellow a       True
       b      False

## EDA

Why do tech code 30 have speed of 0?

In [39]:
tech_code_30 = df[df.TechCode==30]
tech_code_30.MaxAdDown.value_counts()

0.000       407081
20.000       53373
12.000       14947
100.000       5146
25.000        4110
1000.000      1308
10.000         705
1.500          678
5.000          330
45.000         289
50.000         224
3.000          146
2.000          119
1.000           89
500.000         55
7.000           49
15.000          41
40.000          40
150.000         17
6.000           15
30.000          13
250.000         13
200.000         10
4.000            9
400.000          5
32.000           4
8.000            4
300.000          3
18.000           2
80.000           1
70.000           1
0.256            1
16.000           1
0.768            1
60.000           1
9.000            1
75.000           1
Name: MaxAdDown, dtype: int64

In [ ]:
tech_code_30.MaxAdUp.value_counts()